<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-aling-center p-flex-jc-sb">
                <ul><!-- hamburguesa -->
                    <li class="p-hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li>

                        <img class="p-cursor" src="./assets/img/search-left.png" alt="the icon search" width="20">
                    </li>
                </ul>
                <ul><!-- lista elementos -->
                <li>
                    <a href="#" [routerLink]="['/']" [routerLinkActive]="['is-active']">HOME</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Porfolio</a>
                </li>
                <li>
                    <a href="#">Search</a>
                </li>
            </ul>
            </div>
        </div>
    </div>
</header>
