<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <div>
                    <span class="p-tag">Girl</span>
                <h1 class="mt-4">Ann Fashion</h1>
                <p class="p-des mt-3 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum non maiores,
                    quam illo, sed voluptate
                    perspiciatis nobis vero eveniet rem temporibus. Cum officiis sapiente quasi facere, amet dolor
                    suscipit culpa?
                </p>
                </div>
                <a href="#" class="p-readmore">Read more <img src="./assets/img/arrow-play.png"
                        alt="the icon for redmemore" width="15" class="ml-2"></a>

                <div>
                    <h6>Followme on web</h6>
                    <form class="form-inline">
                        <div class="form-group">

                            <!-- <input type="email" class="form-control" id="email" placeholder="enter your email here"
                                autocomplete="off"> -->
                                <input class="form-control" type="text" placeholder="enter your email input here…" autocomplete="off">
                            

                        </div>
                        <button class="btn btn-warning">Follow</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>